# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/
!gradle-wrapper.properties

# IDE-specific files
.idea/
.vscode/

# Spring Boot property file
src/main/resources/application.properties

# Log files
logs/
*.log

# Compiled class files
target/
bin/
*.class

# Package files
*.jar
*.war
*.ear

# Spring Boot Gradle Plugin cache
spring-boot-starter-parent/

# Caches
.caches/

# IntelliJ IDEA
out/

# Eclipse
.classpath
.project
.settings/

# Spring Boot DevTools
.restart/

# Local configuration file (if it exists)
application-local.properties

# Checkstyle
.checkstyle

# macOS
.DS_Store
